<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="name" placeholder="name" #nameInput>
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="amount" placeholder="amount" #amountInput>
                        <label for="amount">Amount</label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-xs-12">
                    <button class="btn btn-success me-1" type="submit" (click)="addIngredient()">Add</button>
                    <button class="btn btn-danger me-1" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>